.loadingScreen {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #d8d8d9;
  z-index: 10;
}

.logo {
  width: 300px;
  margin-bottom: 50px;
  animation: fadeIn ease 3s;
}

.messages {
  position: relative;
  width: 100%;
  height: 150px;
  margin-bottom: 50px;
  text-align: center;
}

p {
  position: absolute;
  width: 100%;
  font-size: 18px;
}

p:nth-of-type(1) {
  color: var(--bd-color-green);
  animation: fadeIn 0.5s ease forwards;
}

p:nth-of-type(2) {
  color: var(--bd-color-red);
  animation: second 0.5s ease forwards;
}

p:nth-of-type(3) {
  color: var(--bd-color-yellow);
  animation: third 0.5s ease forwards;
}

p:nth-of-type(4) {
  animation: fourth 0.5s ease forwards;
}

p:nth-of-type(n + 4) {
  display: none;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes second {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(40px);
    opacity: 0.6;
  }
}

@keyframes third {
  from {
    transform: translateY(40px);
    opacity: 0.6;
  }
  to {
    transform: translateY(80px);
    opacity: 0.3;
  }
}

@keyframes fourth {
  from {
    transform: translateY(80px);
    opacity: 0.3;
  }
  to {
    transform: translateY(120px);
    opacity: 0;
  }
}

@media (max-width: 600px) {
  p {
    font-size: 14px;
  }
}
