:root {
  --bd-color-yellow: #fe9f1b;
  --bd-color-red: #ff5100;
  --bd-color-green: #00968f;

  --input-primary-color: #bcbabc;
  --input-hover-color: #acacac;
  --input-active-color: #999899;

  --text-color-1: #383738;
  --text-color-disabled: #878788;
}
