.button {
  width: 150px;
  height: 40px;
  border: none;
  margin: 1em;
  border-radius: 5px;
  color: white;
  font-size: 1em;
}

.button:hover {
  cursor: pointer;
}

.button-nav {
  background-color: #ee6c4d;
}

.button-description {
  width: 120px;
  height: 25px;
  color: #4daeee;;
  background-color: transparent;
  font-size: 0.7em;
}