@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');

body {
  margin: 0;
  background-color: #f9fafc;
  font-family: 'Roboto', sans-serif;
  color: #2c2c2c;
}
header a {
  text-decoration: none;
}

h1 {
  padding: 0.5em;
  color: #2274a5;
  /* background: -webkit-linear-gradient(#2274a5, ##29A1D4);
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  letter-spacing: 3px;
  font-family: 'Titillium Web', sans-serif;
}

input:focus {
  outline: none;
}

.card-list {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.card {
  margin: 1rem;
  display: flex;
  justify-content: space-around;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 3px 15px #00000011;
  word-break: break-all;
}

.card a {
  text-decoration: none;  
}

.card h3 {
  color: #2c2c2c;
}

.card h3:hover {
  color: #2274a5;
}