@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body {
  margin: 0;
  background-color: #f9fafc;
  font-family: 'Roboto', sans-serif;
  color: #2c2c2c;
}

input:focus {
  outline: none;
}